In [1]:
from selenium import webdriver
import os
import time
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By

In [2]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
There is no [win32] chromedriver for browser  in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\prashant pathak\.wdm\drivers\chromedriver\win32\101.0.4951.41]

In [4]:
url= 'https://ceoworld.biz/2021/01/27/worlds-richest-soccer-players-2021/'
driver.get(url)
driver.implicitly_wait(5)
all_name = driver.find_elements(By.XPATH , '//*[@id="tablepress-536"]/tbody/tr/td[2]')

In [9]:
player_name = []
for t in all_name:
    print(t.text)
    player_name.append(t.text)
print(len(player_name))

Christiano Ronaldo
David Beckam
Lionel Messi
Dave Welan
Neymar
Zlatan Ibrahimovic
Wayne Rooney
Ronaldo
Gareth Bale
Thiery Henry
Paul Pogba
Andres Iniesta
Jose Murinho
Mesut Ozil
Zinedine Zidane
Eden Hazard
Pele
Philipp Lahm
Raul Gonzalez Blanco
Kylian Mbappe
Samuel Eto' o
Didier Drogba
Fabio Capello
Fernando Torres
Frank Lampard
Kaka
Mohamed Salah
Ronaldinho
Steven Gerrard
Robert Lewandowski
Arjen Roben
Bastian Schweinsteiger
Gerard Pique
Mario Balotelli
Sergio Aguero
Sergio Ramos
David de Gea
Rio Ferdinand
Frank Ribery
Hulk
John Terry
Luis Suarez
Oscar
Radamel Falcao
Sir Alex Ferguson
Yaya Toure
Antoine Griezmann
Dani Alves
Robinho
Ryan Giggs
50

In [11]:
net_worth = driver.find_elements(By.XPATH ,'//*[@id="tablepress-536"]/tbody/tr/td[3]' )
net_worth_of_player = []
for t in net_worth:
    print(t.text)
    net_worth_of_player.append(t.text)
print(len(net_worth_of_player))

$500M
$450 Million
$400 Million
$210 Million
$200 Million
$190 Million
$170 Million
$160 Million
$145 Million
$130 Million
$125 Million
$120 Million
$120 Million
$120 Million
$120 Million
$100 Million
$100 Million
$100 Million
$100 Million
$95 Million
$95 Million
$90 Million
$90 Million
$90 Million
$90 Million
$90 Million
$90 Million
$90 Million
$90 Million
$85 Million
$80 Million
$80 Million
$80 Million
$80 Million
$80 Million
$80 Million
$75 Million
$75 Million
$70 Million
$70 Million
$70 Million
$70 Million
$70 Million
$70 Million
$70 Million
$70 Million
$60 Million
$60 Million
$60 Million
$60 Million
50

In [12]:
profession = driver.find_elements(By.XPATH , '//*[@id="tablepress-536"]/tbody/tr/td[5]')
profession_player = []
for t in profession:
    print(t.text)
    profession_player.append(t.text)
print(len(profession_player))

Football player, Fashion entrepreneur
Model, Athlete, Actor, Soccer Player
Football player
Businessperson, Football player
Football player
Football player
Football player, Soccer Player
Football player, Actor
Football player
Football player
Football player
Football player
Football player, Coach, Manager
Football player
Former football player, Coach, Manager
Football player
Actor, Football player, Film Producer
Football player
Former football player
Football player
Football player
Football player
Coach, Soccer Player
Soccer Player
Football player, Soccer Player
Football player
Football player
Football player
Soccer Player
Soccer Player
Football player
Football player
Football player, Soccer Player
Football player
Football player
Football player
Football player
Football player
Football player
Football player
Football player
Football player
Football player
Football player
Coach, Manager, former football player
Coach, Manager, Football player
Football player
Football player
Football player
Former football player
50

In [13]:
nationality = driver.find_elements(By.XPATH , '//*[@id="tablepress-536"]/tbody/tr/td[4]')
nationality_player = []
for t in nationality:
    print(t.text)
    if(t.text == '-'):
        nationality_player.append('Egypt')
    else:
        nationality_player.append(t.text)
print(len(nationality_player))

Portuguese
British
Argentinian
British
Brazilian
Sweden
British
Brazilian
British
French
French
Spanish
Portuguese
German
French
Belgian
Brazilian
German
Spanish
French
Cameroonian
Ivory Coast
Italian
Spanish
British
Brazilian
-
Brazilian
British
Polish
Dutch
German
Spanish
Italian
Argentinian
Spanish
Spanish
British
French
Brazilian
British
Uruguay
Brazilian
Colombian
British
Ivory Coast
French
Brazilian
Brazilian
British
50

In [14]:
nationality_player

['Portuguese',
 'British',
 'Argentinian',
 'British',
 'Brazilian',
 'Sweden',
 'British',
 'Brazilian',
 'British',
 'French',
 'French',
 'Spanish',
 'Portuguese',
 'German',
 'French',
 'Belgian',
 'Brazilian',
 'German',
 'Spanish',
 'French',
 'Cameroonian',
 'Ivory Coast',
 'Italian',
 'Spanish',
 'British',
 'Brazilian',
 'Egypt',
 'Brazilian',
 'British',
 'Polish',
 'Dutch',
 'German',
 'Spanish',
 'Italian',
 'Argentinian',
 'Spanish',
 'Spanish',
 'British',
 'French',
 'Brazilian',
 'British',
 'Uruguay',
 'Brazilian',
 'Colombian',
 'British',
 'Ivory Coast',
 'French',
 'Brazilian',
 'Brazilian',
 'British']

In [18]:
import pandas as pd
dict_ = {'player_name' : player_name , 'net_worth_by_2021' : net_worth_of_player , 'nationality' : nationality_player , 'profession_other_than_soccer' : profession_player}
richest_footballer = pd.DataFrame(dict_)
richest_footballer

,player_name,net_worth_by_2021,nationality,profession_other_than_soccer
0,Christiano Ronaldo,$500M,Portuguese,"Football player, Fashion entrepreneur"
1,David Beckam,$450 Million,British,"Model, Athlete, Actor, Soccer Player"
2,Lionel Messi,$400 Million,Argentinian,Football player
3,Dave Welan,$210 Million,British,"Businessperson, Football player"
4,Neymar,$200 Million,Brazilian,Football player
5,Zlatan Ibrahimovic,$190 Million,Sweden,Football player
6,Wayne Rooney,$170 Million,British,"Football player, Soccer Player"
7,Ronaldo,$160 Million,Brazilian,"Football player, Actor"
8,Gareth Bale,$145 Million,British,Football player
9,Thiery Henry,$130 Million,French,Football player
10,Paul Pogba,$125 Million,French,Football player
11,Andres Iniesta,$120 Million,Spanish,Football player
12,Jose Murinho,$120 Million,Portuguese,"Football player, Coach, Manager"
13,Mesut Ozil,$120 Million,German,Football player
14,Zinedine Zidane,$120 Million,French,"Former football player, Coach, Manager"
15,Eden Hazard,$100 Million,Belgian,Football player
16,Pele,$100 Million,Brazilian,"Actor, Football player, Film Producer"
17,Philipp Lahm,$100 Million,German,Football player
18,Raul Gonzalez Blanco,$100 Million,Spanish,Former football player
19,Kylian Mbappe,$95 Million,French,Football player
20,Samuel Eto' o,$95 Million,Cameroonian,Football player
21,Didier Drogba,$90 Million,Ivory Coast,Football player
22,Fabio Capello,$90 Million,Italian,"Coach, Soccer Player"
23,Fernando Torres,$90 Million,Spanish,Soccer Player
24,Frank Lampard,$90 Million,British,"Football player, Soccer Player"
25,Kaka,$90 Million,Brazilian,Football player
26,Mohamed Salah,$90 Million,Egypt,Football player
27,Ronaldinho,$90 Million,Brazilian,Football player
28,Steven Gerrard,$90 Million,British,Soccer Player
29,Robert Lewandowski,$85 Million,Polish,Soccer Player
30,Arjen Roben,$80 Million,Dutch,Football player
31,Bastian Schweinsteiger,$80 Million,German,Football player
32,Gerard Pique,$80 Million,Spanish,"Football player, Soccer Player"
33,Mario Balotelli,$80 Million,Italian,Football player
34,Sergio Aguero,$80 Million,Argentinian,Football player
35,Sergio Ramos,$80 Million,Spanish,Football player
36,David de Gea,$75 Million,Spanish,Football player
37,Rio Ferdinand,$75 Million,British,Football player
38,Frank Ribery,$70 Million,French,Football player
39,Hulk,$70 Million,Brazilian,Football player
40,John Terry,$70 Million,British,Football player
41,Luis Suarez,$70 Million,Uruguay,Football player
42,Oscar,$70 Million,Brazilian,Football player
43,Radamel Falcao,$70 Million,Colombian,Football player
44,Sir Alex Ferguson,$70 Million,British,"Coach, Manager, former football player"
45,Yaya Toure,$70 Million,Ivory Coast,"Coach, Manager, Football player"
46,Antoine Griezmann,$60 Million,French,Football player
47,Dani Alves,$60 Million,Brazilian,Football player
48,Robinho,$60 Million,Brazilian,Football player
49,Ryan Giggs,$60 Million,British,Former football player

In [19]:
df = richest_footballer.to_csv('Richest Footballer')